.navbar {
    height: 5vh;
}

.quiz-card {
    background-color: rgb(254, 250, 240) !important;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    object-fit: cover;
    padding: 10px;
    padding-bottom: 55px;
    border-radius: 5px;
}

.main-card {
    display: flex;
    flex-direction: row !important;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 500px;
    width: 700px;
}

.card-title {
    text-align: center;
    padding-bottom: 15px;
}

.card:hover {
    background-color: rgba(0,0,0,0.05);
}

.card-body {
    width: 30vw !important;
}

.left-card {
    background-color: rgb(40,54,91);
    display: flex;
    flex-direction: column;
}

.left-card a {
    text-decoration: none;
    color: rgb(254, 250, 240);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.right-card {
    padding-left: 10px;
    padding-right: 10px;
    width: -webkit-fill-available;
    background-image: url(./img/brainbg.jpg);
    object-fit: cover;
    background-position: center;
}

.right-card img {
    opacity: 0.9;
}

.all-questions {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-top: 2px solid rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}

.green-answer {
    background-color: rgba(52, 167, 84, 0.8) !important;
    color: white !important;
}

.red-answer {
    background-color: rgba(255, 0, 0, 0.8) !important;
    color: white !important;
}

.endscreen-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;}

.endscreen-top img {
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.endscreen-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.button-outline {
    color: blue !important;
    font-weight: bold !important;
}

.button-outline:hover {
    border: 1.5px solid blue !important;
    border-radius: 5px !important;
}    

.span-coral {
    color: coral;
    font-weight: bolder;
    margin-bottom: 10px;
}